.blogsContainer{
    flex-direction: column;
    background : linear-gradient(#ffbf8e,#f38836);
    margin-top : 80px ;
    min-height: 100vh;
    display: flex;
    gap: 2em;
    padding: 10px 0;
}

.background{
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    background-image: url('/public/image.png');
    background-size: cover;
}

