.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
  }
  
  /* Style the username within the Comment component */
  .commentName {
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 0;
  }

  .commentMail{
    color: #727272;
  }
  
  /* Increase font size, spacing, and line height for the comment text */
  .commentText {
    font-size: 1.2em;
    line-height: 2em;
    margin: 10px 0;
  }
  
  /* Style the Reply section header */
  .commentsDiv {
    margin-top: 20px;
  }
  
  /* Add a subtle border to separate comments */
  .comment + .comment {
    border-top: 1px solid #ccc;
  }