.company{
   
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #cb5303;
    transition: all 0.5s;
}

.company:hover{
    
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.30);
    border-radius: 0;
}

.company > img {
    padding: 3%;
    height: 150px;
    width: 300px;
    border-radius: 5px;
    object-fit : contain ;
}

